version: '3.8'

services:
  todo-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ini-poc-ui
    ports:
      - "3000:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production